{% extends "base/admin-base.html" %} {% block container %} {% load static %}


{% include 'includes/admin-nav.html' %}


<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0 bg-transparent">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">{{sub_title}}</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">{{name}}</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex;justify-content: space-between; padding: 15px 30px 0;">
                                    <h4 class="card-title">{{name}}</h4>
                                    <a href="{% url 'managers:varients_add' %}" class="btn mb-1 btn-primary btn-rounded color-white">ADD NEW</a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>TITLE</th>
                                                <th>EDIT</th>
                                                <th>DELETE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in instances %}
                                                <tr>
                                                    <td>{{instance.name}}</td>
                                                    <td>
                                                        <a href="{% url 'managers:varients_edit' id=instance.id %}" class="btn mb-1 btn-primary color-white">
                                                            <i class="icon-pencil menu-icon" style="color:white; font-size: 14px; margin-right: 2px;"></i>
                                                            Edit
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'managers:varients_delete' id=instance.id %}" class="btn mb-1 btn-danger color-white">
                                                            <i class="icon-trash menu-icon" style="color:white; font-size: 14px; margin-right: 2px;"></i>
                                                            Delete
                                                        </a>
                                                    </td>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}
