<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C-FRESH | Contact Us</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'web/css/style.css' %}"  type="text/css" />

    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="web/images/favicon.png"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="./web/images/mockup.png" />
    <meta name="description" content="We present to you the Moosakkai's CFRESH mobile app, Delivers chemical free fishes with a wide range of exquisite options. Experience the delicate fishes of Kerala at a reasonable and affordable price with Cfresh app." />
    <meta name="keywords" content="cfresh, cfresh app, cfresh fish delivery, fish delivery kerala, home fresh deliver, fish home delivery kerala, cfresh calicut, fish calicut" />
</head>
<body>
    <section id="title">
        <section class="wrapper">
            <h1>CONTACT US</h1>
        </section>
    </section>

    <section id="contact">
        <section class="wrapper">
            <div class="left">
                <form action="" method="post">
                    <div class="field">
                        <input type="text" name="name" placeholder="Enter your name">
                    </div>
                    <div class="field">
                        <input type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="field">
                        <input type="number" name="phone" placeholder="Mobile number">
                    </div>
                    <div class="field">
                        <textarea type="textarea" name="email" placeholder="Enter your message"></textarea>
                    </div>
                    <div class="button">
                        <button type="submit" class="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
            <div class="right">
                <span>CONTACT</span>
                <h3>Contact with us for any kind of information</h3>
                <p>We present to you the Moosakkai's CFRESH mobile app, Delivers chemical free fishes with a wide range of exquisite options. 
                    Experience the delicate fishes of Kerala at a reasonable and affordable price with Cfresh app in Kozhikode City.
                </p> <br/>
                <p>NO.2/748 PALAZHI <br/> PAALA ROAD PANTHEERANKAVE <br/> KOZHIKODE KERALA 673014</p>
                <br/>
                <p>Mob: +91 9445 992 992</p>
                <p>Email: support@cfresh.in</p>
            </div>
        </section>
    </section>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=%2B919446992992&text=Hy" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
</body>
</html>