{% extends "base/admin-base.html" %} {% block container %} {% load static %}


{% include 'includes/franchise-nav.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0 bg-transparent">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">{{sub_title}}</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)" >{{name}}</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                                <div class="basic-form">
                                    <form action="" method="post" class="ajax redirect" enctype="multipart/form-data">
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-6">
                                                <label>Franchise Name</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.franchise.name}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Franchise District</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.franchise.district}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Mobile Number</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.user.phone_number}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Admin Name</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.user.first_name}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Email Address</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.user.email}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Address</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.franchise.address}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Base Delivery Charge</label>
                                                <input type="text" disabled class="form-control" value="₹ {{franchise.franchise.base_charge}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Base Delivery Distance</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.franchise.base_distance}} KM">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Extra Delivery Charge</label>
                                                <input type="text" disabled class="form-control" value="₹ {{franchise.franchise.extra_charge}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Extra Delivery Distance</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.franchise.extra_distance}} KM">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Free Delivery / Cart Amount</label>
                                                <input type="text" disabled class="form-control" value="₹ {{franchise.franchise.free_delivery_cart}}">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Delivery Distance</label>
                                                <input type="text" disabled class="form-control" value="{{franchise.franchise.delivery_distance}} KM">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}
